
.homeHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}

.backgroundImage{
    width: 100%;
    position: absolute;
    filter: brightness(60%);
}

.backgroundImage img{

    width: 100%;



}
.intro{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 34%;
}

.intro h1{
    color: rgba(219, 197, 8, 0.804);
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
    font-family:"Caveat"
}


.introImage{
    filter: brightness(90%);
    width: 300px;
    height: 775px;
    position: absolute;
}

.introImage img{
    object-fit: cover;
    object-position: bottom;
}

